<b>Tiempo en <?=ciudad?></b>

<?=descripcion?>


<?if(temperatura) { ?>
<b>Temperatura:</b> <?=temperatura?> ºC
<?}?>
<?if(maxima) { ?>
<b>Máxima:</b> <?=maxima?> ºC
<?}?>
<?if(minima) { ?>
<b>Mínima:</b> <?=minima?> ºC
<?}?>

<?if(humedad) { ?>
<b>Humedad:</b> <?=humedad?>%
<?}?>
<?if(nubes) { ?>
<b>Nubes:</b> <?=nubes?>%
<?}?>
<?if(presion) { ?>
<b>Presión:</b> <?=presion?> hpa
<?}?>
<?if(viento) { ?>
<b>Viento:</b> <?=viento?> m/s
<?}?>

<?if(amanecer) { ?>
<b>Amanecer:</b> <?=amanecer?>
<?}?>

<?if(atardecer) { ?>
<b>Anochecer:</b> <?=atardecer?>
<?}?>