<b>Listado de comandos:</b>

/echo@elbichobot [Texto]: Te repite lo que le has mandado. 
/dicks@elbichobot: Manda pollitas de longitud variable. 
/translate@elbichobot [Texto];[Código de lenguaje del texto];[Código de lenguaje al que traducir]: Traduce texto usando Google Translate 
/getLanguages@elbichobot: Devuelve listado de códigos de idioma para introducir en el comando /translate 
/weather@elbichobot [Ciudad]: Devuelve información relativa al tiempo en la ciudad introducida. 
/convertCurrency@elbichobot [Cantidad] [Divisa original] [Divisa destino]: Convierte dinero entre divisas. 
/getCurrencies@elbichobot: Obten todos los códigos de divisa disponibles. 
/calc@elbichobot [Expresión]: Calcula expresiones matemáticas con la API de mathjs. 
/tiempoEMT@elbichobot [Nº Parada]: Devuelve próximas llegadas de autobuses a la parada de la EMT de Madrid solicitada. 
/stockPrice@elbichobot [hoy/última] [codigo empresa]: Te devuelve el valor en bolsa de una empresa. Te devuelve un gráfico con la evolución 
del precio del último día o el último valor registrado. 
/pokedex@elbichobot [pokemon]: Devuelve información del pokemon especificado 
/click@elbichobot: Ruleta rusa. Una de seis probabilidades de morir.

/proximaFiesta@elbichobot [filtro]: Devuelve la fecha de la próxima fiesta nacional en España. Si se pone un filtro, se devuelve la siguiente
fiesta local para el filtro especificado
/proximasFiestas@elbichobot [filtro]: Devuelve una lista de fechas de las próximas fiestas nacionales en España. 
Si se pone un filtro, se devuelven las siguientes fiestas locales para el filtro especificado

/gatete@elbichobot: Obtén una imagen aleatoria de un gatete. 
/dameGatetes@elbichobot: Suscribe al chat al servicio de gatetes diario. Recibe un gatete cada día por la mañana. 
/bastaDeGatetes@elbichbobot: Desuscribe al chat del servicio de gatetes diario. 


/perrete@elbichobot: Obtén una imagen aleatoria de un perrete. 
/damePerretes@elbichobot: Suscribe al chat al servicio de perretes diario. Recibe un perrete cada día por la mañana. 
/bastaDePerretes@elbichbobot: Desuscribe al chat del servicio de perretes diario. 


/help@elbichobot: Manda este listado.

<b>Otras funcionalidades:</b>
Responde cuando saludas diciendo <b>Hola</b> u <b>Holi</b>.
Te responde con Cacahué cuando es necesario.
Al primero que escribe <b>Pole</b>, <b>Subpole</b>, <b>Bronce</b> y <b>Cobre</b> en un grupo cada día, le da un punto.
/Polerank: Ranking de <b>Pole</b>, <b>Subpole</b>, <b>Bronce</b> y <b>Cobre</b> del grupo.

Además, responde a distintas búsquedas en el campo de entrada de texto del chat:

<b>searchCompany [nombre empresa]</b>: Te devuelve un listado de códigos de empresas en base al nombre buscado para utilizar en el
comando /stockPrice 
<b>encontrar [lugar]</b>: Devuelve un listado de ubicaciones. 

<b>searchVideo [nombre serie/pelicula]</b>: Devuelve un listado de películas y series en base al nombre buscado.
